body {
    font-family: FFZwoProRegular,Verdana,sans-serif !important;
    font-size: 18px !important;
}
p {
    line-height: 1.4em;
}

#header {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
      position: relative;
      height: 100%;
}

.header-transparent #Top_bar #logo {
    height: 100px !important;
}

#Top_bar .menu>li>a {
    color: white ;
}
.notdienst {
    background-color: orange;
    border-radius: 40px;
}
.notdienst > a {
    width: 100px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: white !important;
}
.notdienst > a > img {
    width: 30px;
    height: 30px !important;
}
.header-transparent #Top_bar .menu>li.notdienst {
    margin-top: 10px;
}
#Top_bar.is-sticky .menu>li.notdienst {
    margin-top: 0px;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(https://www.haustechnik-brunner.at/wp-content/uploads/2022/02/bathroom-2021-08-28-22-29-35-utc.jpg);
    background-position: 50% 100%;
    background-size: cover !important;
    background-attachment: scroll;
}
.hero-image {
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: 50% 100%;
    background-size: cover !important;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.hero-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, .3);
}
.content {
    padding: 60px;
    max-width: 1000px;
    text-align: left;
    margin-bottom: 200px;
    margin-left: 100px;
}

.content-header {
    font-family: 'lato',Helvetica,Arial,sans-serif;
    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    line-height: 100px;
}


/* bootstrap-carousel */
.swiper {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination span {
    background-color: white;
  }

  .swiper-button-prev {
    color: white;
  }
  .swiper-button-next {
    color: white;
}
.swiper-button-next:after {
    color: white;
}
.swiper-button-prev:after {
    color: white;
}

/*cards */
.service-card {
}
.feature_box_wrapper {
    min-height: 138px;
}



/* mobile */
@media only screen and (max-width: 1239px) {
    .content-header {
        font-size: 80px;
        line-height: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .header-transparent #Top_bar #logo {
        height: 60px !important;
    }
    .mobile-order-1 {
        order: 1;
    }
    .mobile-order-2 {
        order: 2;
    }
    .content {
        margin-left: 0;
        margin-bottom: 0;
    }
    .content-header {
        font-size: 40px;
        line-height: 40px;
    }
    .column-button {
        margin-top: 20px;
    }
    .column_attr {
        padding: 0 !important;
    }
    .hero-overlay {
        justify-content: center;
        align-items: center;
    }
    
}

/* defaults */
.mw-100 {
    max-width: 100px !important;
}
