#header {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
      position: relative;
      height: 100%;
}
.logo-wrapper {

}
#logo {

}
.logo-main {
    
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(https://www.haustechnik-brunner.at/wp-content/uploads/2022/02/bathroom-2021-08-28-22-29-35-utc.jpg);
    background-position: 50% 100%;
    background-size: cover !important;
    background-attachment: scroll;
}
.hero-image {
    position: relative;

    height: 100vh;
    width: 100%;
    background-position: 50% 100%;
    background-size: cover !important;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
.hero-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
}
.content {
    padding: 60px;
    max-width: 1200px;
}

.content-header {
    font-family: 'lato',Helvetica,Arial,sans-serif;
    font-size: 60px;
    color: white;
    letter-spacing: 3px;
    line-height: 60px;
}

/* bootstrap-carousel */
.swiper {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }